{% extends 'base.html' %}
{% load static %}

{% block title %}
  Create Resume
  
{% endblock title %}
{% block body %}
  <div class="container">
    <div class="row">
        {% include 'form.html' %}
        <div class="col border" >
        <div class="row mb-3"> 
          <div class="col">
            <ul style="list-style-type: none; margin:0; padding:0;">
              <li>{{customer.name}}</li>
              <li>{{customer.email}}</li>
              <li>{{customer.job}}</li>
              <li>{{customer.phone}}</li>
            </ul>
          </div>
          <div class="col" style="text-align: right;">
            <h2>Image</h2>
          </div>
        </div>
        <div class="row">
          <h4 style="text-align:center">Objective</h4>
          <p><small>{{customer.objective}}</small></p>
        </div>
        <div class="row">
          <h4 style="text-align:center">Education</h4>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">School/College</th>
                <th scope="col">Stream</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody>
              <tr>                
                <td id="collegePassingYearFiller">{{college.passingYear}}</td>
                <td id="collegeNameFiller">{{college.institutionName}}</td>
                <td id="collegeBranchFiller">{{college.branch}}</td>
                <td id="collegeCityNameFiller">{{college.cityName}}</td>
              </tr>
              <tr>                
                <td id="srsecondaryPassingYearFiller">{{srSecondarySchool.passingYear}}</td>
                <td id="srsecondarySchoolNameFiller">{{srSecondarySchool.institutionName}}</td>
                <td id="srsecondaryBranchFiller">{{srSecondarySchool.branch}}</td>
                <td id="srsecondaryCityNameFiller">{{srSecondarySchool.cityName}}</td>
              </tr>
              <tr>               
                <td id="secondaryPassingYearFiller">{{secondarySchool.passingYear}}</td>
                <td id="secondarySchoolNameFiller">{{secondarySchool.institutionName}}</td>
                <td id="secondaryBranchFiller">{{secondarySchool.branch}}</td>
                <td id="secondaryCityNameFiller">{{secondarySchool.cityName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <h4 style="text-align:center">Experience</h4>
          <div id="experienceDiv">
            
          </div>
        </div>
        <div class="row">
          <h4 style="text-align:center">Skills</h4>
          <div class="row">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Skill</th>
                  <th scope="col">Expertise</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="dynamic-body">
                {% for skill in skills %}
                  <tr class="dynamicRow">
                    <td class="attrName">{{skill.Name}}</td>
                    <td class="attrValue">{{skill.Value}}</td>
                    <td><input type="button" class="btn btn-sm btn-danger deleteItem" value="Remove"></td>
                  </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
  </div>
  <style>
    .border{
      border: black solid 2px;
    }
  </style>
  <script type="text/javascript" src="{% static 'create.js' %}">       
  </script>
  {% comment %} <script>
  for skill in {{skills}}(){
    console.log(skill);
  }
  </script> {% endcomment %}
{% endblock body %}