{% extends 'base.html' %}
{% load static %}

{% block title %}
  Create Resume
  
{% endblock title %}
{% block body %}
  <div class="container">
    <div class="row">
        {% include 'form.html' %}
        <div class="col border" >
        <div class="row mb-3"> 
          <div class="col">
            <ul style="list-style-type: none; margin:0; padding:0;">
              <li>{{customer.name}}</li>
              <li>{{customer.email}}</li>
              <li>{{customer.job}}</li>
              <li>{{customer.phone}}</li>
            </ul>
          </div>
          <div class="col" style="text-align: right;">
            <h2>Image</h2>
          </div>
        </div>
        <div class="row">
          <h4 style="text-align:center">Objective</h4>
          <p><small>{{customer.objective}}</small></p>
        </div>
        <div class="row">
          <h4 style="text-align:center">Education</h4>
          <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">School/College</th>
                <th scope="col">Stream</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody>
              <tr>                
                <td id="collegePassingYearFiller">{{college.passingYear}}</td>
                <td id="collegeNameFiller">{{college.institutionName}}</td>
                <td id="collegeBranchFiller">{{college.branch}}</td>
                <td id="collegeCityNameFiller">{{college.cityName}}</td>
              </tr>
              <tr>                
                <td id="srsecondaryPassingYearFiller">{{srSecondarySchool.passingYear}}</td>
                <td id="srsecondarySchoolNameFiller">{{srSecondarySchool.institutionName}}</td>
                <td id="srsecondaryBranchFiller">{{srSecondarySchool.branch}}</td>
                <td id="srsecondaryCityNameFiller">{{srSecondarySchool.cityName}}</td>
              </tr>
              <tr>               
                <td id="secondaryPassingYearFiller">{{secondarySchool.passingYear}}</td>
                <td id="secondarySchoolNameFiller">{{secondarySchool.institutionName}}</td>
                <td id="secondaryBranchFiller">{{secondarySchool.branch}}</td>
                <td id="secondaryCityNameFiller">{{secondarySchool.cityName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <h4 style="text-align:center">Experience</h4>
          <div id="experienceDiv">
          {% for experience in experiences %}
                <div class="row addedRow">
                  <div class="col-sm-4">
                    <h5 class="namex">{{experience.FirmName}}</h5>
                    <h6 class="namex">{{experience.JobTitle}}</h6>
                    <p class="namex">{{experience.StartDate}}
                    <p class="namex">{{experience.EndDate}}</p>
                  </div>
                  <div class="col-sm-8">
                    <h6 class="namex">{{experience.Name1}}</h6>
                    <p><small class="namex">{{experience.Description1}}</small></p>
                    <h6 class="namex">{{experience.Name2}}</h6>
                    <p><small class="namex">{{experience.Description2}}</small></p><br/>
                    <td><input type="button" class="btn btn-sm btn-danger deleteItemExp" value="Remove"></td>
                  </div>
                </div> 
          {% endfor %}
          </div>
        </div>
        <div class="row">
          <h4 style="text-align:center">Skills</h4>
          <div class="row">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Skill</th>
                  <th scope="col">Expertise</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="dynamic-body">
                {% for skill in skills %}
                  <tr class="dynamicRow">
                    <td class="attrName">{{skill.Name}}</td>
                    <td class="attrValue">{{skill.Value}}</td>
                    <td><input type="button" class="btn btn-sm btn-danger deleteItem" value="Remove"></td>
                  </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
  </div>
  <style>
    .border{
      border: black solid 2px;
    }
  </style>
  <script type="text/javascript" src="{% static 'js/create.js' %}">       
  </script>
  <script>
  window.onbeforeunload = function(){
    return "Please use the submit button on the bottom of the page to prevent data loss!";
  }
    var skills=[];
  var experiences=[];
  $("#saveBtn").click(function(){
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    $('.experienceDiv').children().each(function () {
      var jObTitle = $('.1').text();
      var firmName = $('.2').text();
      var startDate = $('.3').text();
      var endDate = $('.4').text();
      var project1 = $('.5').text();
      var project2 = $('.6').text();
      var description1 = $('.7').text();
      var description2 = $('.8').text();
      experiences.push({ JobTitle: jObTitle, FirmName:firmName, StartDate:startDate, EndDate: endDate ,Name1 : project1, Name2 : project2, Description1:description1, Description2:description2});     
  });
    $('.addedRow').each(function (a,b) {
      var elements = document.getElementsByClassName('namex'); 
      var firmName = elements[0].textContent;
      var jObTitle = elements[1].textContent;
      var startDate = elements[2].textContent.substring(0,10);
      var endDate = elements[3].textContent.substring(0,10);
      var project1 = elements[4].textContent;
      var project2 = elements[6].textContent;
      var description1 = elements[5].textContent;
      var description2 = elements[7].textContent;
      experiences.push({ JobTitle: jObTitle, FirmName:firmName, StartDate:startDate, EndDate: endDate ,Name1 : project1, Name2 : project2, Description1:description1, Description2:description2});     
    });

    $('.dynamic-body tr').each(function (a, b) {
      var name = $('.attrName', b).text();
      var value = $('.attrValue', b).text();
      skills.push({ Name: name, Value: value });     
  });
  console.log(skills);
    $.ajax({
      type: "post",
      headers: {'X-CSRFToken': csrftoken},
      data: {
        secondarySchoolName: $("#secondarySchoolNameFiller").html(),
        secondarySchoolPassingYear: $("#secondaryPassingYearFiller").html(),
        secondarySchoolCityName: $("#secondaryCityNameFiller").html(),
        secondarySchoolBranchName: $("#secondaryBranchFiller").html(),
        srSecondarySchoolName: $("#srsecondarySchoolNameFiller").html(),
        srSecondarySchoolPassingYear: $("#srsecondaryPassingYearFiller").html(),
        srSecondarySchoolCityName: $("#srsecondaryCityNameFiller").html(),
        srSecondarySchoolBranchName: $("#srsecondaryBranchFiller").html(),
        collegeName: $("#collegeNameFiller").html(),
        collegePassingYear: $("#collegePassingYearFiller").html(),
        collegeCityName: $("#collegeCityNameFiller").html(),
        collegeBranchName: $("#collegeBranchFiller").html(),
        skills: JSON.stringify(skills),
        experiences: JSON.stringify(experiences)
      },
      success: function(){        
        window.location = '/viewBasic/'+'{{customer.pk}}';
      }
    })
  })  
  </script>
{% endblock body %}