{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock title %}
{% block body %}
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-4" >
      <img src="../static/img/Carousel1.jpeg" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
    <div class="col-lg-4">
      <img src="../static/img/Carousel2.png" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
    <div class="col-lg-4">
      <img src="../static/img/Carousel3.jpeg" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-4 text-center" >
      <h3 ><em>Making Resume was never this </em></h3>
    </div>
    <div class="col-lg-4 text-center" >
      <input type="button" id="createBtn" class="btn btn-primary input-block-level form-control" value="Click Me"/>
    </div> 
    <div class="col-lg-4 " >
      <h3><em> interactive and fun!</em></h3>
    </div>      
  </div>
  <div class="row my-4">
    <div class="col-lg-4" >
      <canvas id="myChart"></canvas>
    </div> 
    <div class="col-lg-8" >
       <ul ><em>
        <li class="liElement">Provide some details!</li>
        <li class="liElement">Create your resume in an interactive window!</li>
        <li class="liElement">Submit the resume for basic view!</li>
        <li class="liElement">Choose another view if you didnt like it!</li>
        <li class="liElement">Generate Pdf</li>
      </em></ul>
    </div> 
  </div>
</div>
<style>
  {% comment %} .liElement{
    background:black;
    color:white;
  } {% endcomment %}
</style>
<script  type="text/javascript">
  $(document).ready(function(){
    $("#one").addClass('underlinePerma');
    $('#createBtn').click(function(){
      location.href = "{% url 'templates' %}";
    })
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'js/index.js'%}">  
</script>
{% endblock body %}