{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Intermediate Page
{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Please provide these details to continue</h1>
              <p class="lead" style="color: blue;">Note: I will be storing these details for analysis!</p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-3 borderOfForm">
            <img src="../static/img/resume1.jpeg" style='height: 100%; width: 100%;'>
        </div>
        <div class="col-sm-6 text-center borderOfForm">
            <form method="post" action="{%url 'intermediate' %}" autocomplete="off" onsubmit="return myJsFunction()">
                {% csrf_token %}
                <div class="form-group row marginClass">
                    <label for="customerName" class="col-sm-4 col-form-label required">Name:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="customerName" name="customerName">
                      <span id="customerNameError" style="color:red;"></span>
                    </div>
                </div>
                <div class="form-group row  marginClass">
                    <label for="customerEmail" class="col-sm-4 col-form-label required">Email:</label>
                    <div class="col">
                        <input type="text" class="form-control" id="customerEmail" name="customerEmail">
                        <span id="customerEmailError" style="color:red;"></span>
                    </div>
                </div>
                <div class="form-group row  marginClass">
                    <label for="customerJob" class="col-sm-4 col-form-label required">Job:</label>
                    <div class="col">
                        <input type="text" class="form-control " id="customerJob" name="customerJob">
                        <span id="customerJobError" style="color:red;"></span>
                    </div>
                </div>
                <div class="form-group row  marginClass">
                    <label for="customerPhone" class="col-sm-4 col-form-label required">Phone:</label>
                    <div class="col">
                        <input type="number" class="form-control" id="customerPhone" name="customerPhone">
                        <span id="customerPhoneError" style="color:red;"></span>
                    </div>
                </div>
                <div class="form-group row  marginClass">
                    <label for="customerObjective" class="col-sm-4 col-form-label required">Objective:</label>
                    <div class="col">
                        <input type="text" class="form-control " id="customerObjective" name="customerObjective">
                        <span id="customerObjectiveError" style="color:red;"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" id="intermediateButton" class="btn btn-primary">Submit</button>
                        <span id="formError" style="color:red;"></span>
                    </div>                     
                </div>
            </form>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Just to be clear</h1>
                  <p class="lead" style="color: blue;">These details will be autofilled in your resume</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3 borderOfForm">
            <img src="../static/img/resume2.png" style='height: 100%; width: 100%; '>
        </div>
    </div>
</div>
<style>
    .marginClass { margin-bottom: 20px; }    
    .required { text-align: left; }
    .required:after {
    content:" *";
    color: red;
    }
    .borderOfForm { 
        border: black solid 2px;
        margin-bottom: 10px;
     }
</style>
<script type="text/javascript" src="{% static 'intermediate.js'%}">
</script>
{% endblock body %}