{% extends 'base.html' %}
{% load static %}
{% block title %}
  Templates
{% endblock title %}
{% block body %}
  <div class="cotainer h-100">
    <div class="card-group">
      <div class="card">
        <h2><i>Basic</i></h2>
        <img class="card-img-top" src="{% static 'img/Sample1.png' %}">
        <div class="card-body">
          <h5 class="card-title">Simple</h5>
          <p class="card-text">This is an example best suited for entry level jobs !</p>
          <input type="button" id="simpleCreateBtn" class="moveForward btn btn-primary" value="Create Resume"/>
        </div>
      </div>
      <div class="card">
        <h2><i>Average</i></h2>
        <img class="card-img-top" src="{% static 'img/Sample2.png' %}" style="height:100%;">
        <div class="card-body">
          <h5 class="card-title">Better</h5>
          <p class="card-text">This is for professionals with medium experience ! </p>
          <input type="button" id="betterCreateButton" class="moveForward btn btn-primary" value="Create Resume"/>
        </div>
      </div>
      <div class="card">
        <h2><i>Best</i></h2>
        <img class="card-img-top" src="{% static 'img/Sample3.png' %}" style="height:100%;">
        <div class="card-body">
          <h5 class="card-title">Professional</h5>
          <p class="card-text">This template is best suited to experts !</p>
          <input type="button" id="professionalCreateButton" class="moveForward btn btn-primary" value="Create Resume"/>
        </div>
      </div>
    </div>
  </div>
 <style>
 .borderOfForm { 
        border: black solid 2px;
        margin-bottom: 10px;
     }
 </style>
 <script  type="text/javascript">
  $(document).ready(function(){
    $("#two").addClass('underlinePerma');
    $('.moveForward').click(function(){
      location.href = "{% url 'intermediate' %}";
    })
  })
</script>

{% endblock body %}